@page "/admin/blog-post-tag-edit"
@page "/admin/blog-post-tag-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IBlogPostTagAdminService BlogPostTagAdminService

@inject IBlogPostAdminService BlogPostAdminService
@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Create Blog Post Tag</h1>
  }
  else
  {
    <h1>Edit Blog Post Tag</h1>
  }
  <article>
    <EditForm class="container" Model="blogPostTagAdminEditModel" OnSubmit="HandleSubmit">

      <div class="row">
        <div class="col">
          <label>
            Blog Post:
            <select @onchange="BlogPostOnChange">
              <option>Select blog post...</option>
                @if (blogPostList != null)
                {
                  @foreach (var blogPost in blogPostList)
                  {
                    if (blogPostTagAdminEditModel.BlogPost != null && blogPostTagAdminEditModel.BlogPost.Id.Equals(blogPost.Id))
                    {
                      <option value="@blogPost.Id" selected>@blogPost.Title</option>
                    }
                    else
                    {
                      <option value="@blogPost.Id">@blogPost.Title</option>
                    }
                  }
                }
              </select>
          </label>
        </div>
      </div>
      @* EditRowCodePlaceholder *@
      @* <div class="row">
                <div class="col">
                    <label>
                        To Do List:
                        <select @onchange="ToDoListOnChange">
                            <option>Select to Do List...</option>
                            @if (toDoListList != null)
                            {
                                @foreach (var toDoList in toDoListList)
                                {
                                    if (blogPostTagAdminEditModel.ToDoList != null && blogPostTagAdminEditModel.ToDoList.Id.Equals(toDoList.Id))
                                    {
                                        <option value="@toDoList.Id" selected>@toDoList.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@toDoList.Id">@toDoList.Title</option>
                                    }
                                }
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>
                        Title:
                        <InputText @bind-Value="blogPostTagAdminEditModel.Title" />
                    </label>
                </div>
            </div> *@

            <div class="row">
                <div class="col">
                    @if (!Id.Equals(Guid.Empty))
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/blog-post-tag-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    BlogPostTagAdminEditModel blogPostTagAdminEditModel { get; set; } = new BlogPostTagAdminEditModel();

    List<BlogPost> blogPostList { get; set; } = [];
    @* ListDeclarationCodePlaceholder *@
    @* List<ToDoList>? toDoListList { get; set; } *@

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        await base.OnInitializedAsync();

        var blogPostListResult = await BlogPostAdminService.GetAllAsync(userName);
        if (blogPostListResult != null)
        {
            blogPostList = blogPostListResult;
        }
        @* OnInitializedCodePlaceholder *@
        @* var toDoListListResult = await ToDoListAdminService.GetAllAsync(userName);
        if (toDoListListResult != null)
        {
            toDoListList = toDoListListResult;
        } *@
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var databaseBlogPostTagAdminDto = await BlogPostTagAdminService.GetByIdAsync(userName, Id);

        if (databaseBlogPostTagAdminDto == null)
        {
            blogPostTagAdminEditModel = new BlogPostTagAdminEditModel();
        }
        else
        {
            blogPostTagAdminEditModel = BlogPostTagAdminEditModel.FromBlogPostTagAdminDto(databaseBlogPostTagAdminDto);
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        @* if (string.IsNullOrWhiteSpace(blogPostTagAdminEditModel.Name))
        {
            return;
        } *@

        var blogPostTagAdminDto = BlogPostTagAdminEditModel.ToBlogPostTagAdminDto(blogPostTagAdminEditModel);
        blogPostTagAdminDto.ApplicationUserName = userName;

        if (Id.Equals(Guid.Empty))
        {
            var newBlogPostTagAdminDto = await BlogPostTagAdminService.AddAsync(blogPostTagAdminDto);

            if (newBlogPostTagAdminDto == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/blog-post-tag-edit/{newBlogPostTagAdminDto.Id}");
        }
        else
        {
            await BlogPostTagAdminService.EditAsync(blogPostTagAdminDto);
        }
    }

    async Task Delete()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        await BlogPostTagAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/blog-post-tag-list");
    }


    @* OnChangeCodePlaceholder *@
    @* void ToDoListOnChange(ChangeEventArgs args)
    {
        if (args.Value == null)
        {
            return;
        }

        var id = (string)args.Value;
        blogPostTagAdminEditModel.ToDoList = toDoListList?.Where(x => x.Id.ToString().Equals(id)).FirstOrDefault();
    } *@
}
