@page "/admin/blog-post-list"
@inject IBlogPostAdminService BlogPostAdminService
@attribute [StreamRendering]

<section>
    <h1>Blog Post List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">PublishDate</th>
                    <th scope="col">Text</th>
                    <th scope="col">Title</th>
                    @* ListHeaderCodePlaceholder *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (blogPosts == null)
                {
                    <tr>
                        @* LoadingCountCodePlaceholder *@
                    </tr>
                }
                else if (blogPosts.Count == 0)
                {
                    <tr>
                        @* ZeroCountCodePlaceholder *@
                    </tr>
                }
                else
                {
                    @foreach (var blogPost in blogPosts)
                    {
                        <tr>
                            <td>@blogPost.Id</td>
                            <td>@blogPost.PublishDate</td>
                            <td>@blogPost.Text</td>
                            <td>@blogPost.Title</td>
                            @* ListItemCodePlaceholder *@
                            <td>
                                <NavButton Href="@("/admin/blog-post-edit/" + blogPost.Id)" Name="Edit" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/blog-post-edit" Name="Create" />
    </article>
</section>

@code {
    List<BlogPost>? blogPosts = null;

    protected override async Task OnInitializedAsync()
    {
        blogPosts = await BlogPostAdminService.GetAllAsync();
    }
}
