@page "/admin/comment-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject ICommentAdminService CommentAdminService
@attribute [StreamRendering]

<section>
    <h1>Comment List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">BlogPost</th>
                    <th scope="col">Commenter</th>
                    <th scope="col">Date</th>
                    <th scope="col">Text</th>
                    @* ListHeaderCodePlaceholder *@
                    @* <th scope="col">Title</th>
                    <th scope="col">ToDoList</th> *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (comments == null)
                {
                    <tr>
                        <td colspan="6">Loading...</td>
                        @* LoadingCountCodePlaceholder *@
                        @* <td colspan="4">Loading...</td> *@
                    </tr>
                }
                else if (comments.Count == 0)
                {
                    <tr>
                        <td colspan="6">No comments found.</td>
                        @* ZeroCountCodePlaceholder *@
                        @* <td colspan="4">No to do items found.</td> *@
                    </tr>
                }
                else
                {
                    @foreach (var comment in comments)
                    {
                        <tr>
                            <td>@comment.Id</td>
                            <td>@comment.BlogPost?.Title</td>
                            <td>@comment.Commenter?.UserName</td>
                            <td>@comment.Date</td>
                            <td>@comment.Text</td>
                            @* ListItemCodePlaceholder *@
                            @* <td>@comment.Title</td>
                            <td>@comment.ToDoList?.Title</td> *@
                            <td>
                                <a href="@("/admin/comment-edit/" + comment.Id)">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a href="/admin/comment-edit">Create</a>
    </article>
</section>

@code {
    List<Comment>? comments = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        comments = await CommentAdminService.GetAllAsync(userName);
    }
}
